Library/
Packages/
ProjectSettings/
src/UnityShowAndroidStatusBar/.gradle/
src/UnityShowAndroidStatusBar/build/
src/UnityShowAndroidStatusBar/libs/classes.jar
Temp/
UnityPackageManager/
*.meta
*.csproj
*.sln
.vs/
src/UnityShowAndroidStatusBar/.idea/caches/build_file_checksums.ser
src/UnityShowAndroidStatusBar/.idea/codeStyles/Project.xml
src/UnityShowAndroidStatusBar/.idea/libraries/Gradle____local_aars___C__UnityProjects_UnityShowAndroidStatusBar_src_UnityShowAndroidStatusBar_libs_classes_jar_unspecified_jar.xml
src/UnityShowAndroidStatusBar/.idea/gradle.xml
src/UnityShowAndroidStatusBar/.idea/misc.xml
src/UnityShowAndroidStatusBar/.idea/modules.xml
src/UnityShowAndroidStatusBar/.idea/runConfigurations.xml
src/UnityShowAndroidStatusBar/.idea/workspace.xml
src/UnityShowAndroidStatusBar/local.properties
src/UnityShowAndroidStatusBar/.idea/
src/UnityShowAndroidStatusBar/UnityShowAndroidStatusBar.iml
